<h2> Hello <%= @user.name.capitalize %> </h2>
<p> <% if current_user.id == @user.id %>
	 	  <%= link_to "Up date your info", edit_user_path %>
	  <% end %>
<p> <%= @user.phone_number %> </p>
<p> <%= @user.email %> </p>
<p> <%= @user.phone_number %> </p>
<p> <%= @user.phone_number %> </p>
<br>
<br>